.typing-field {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.typing-field__focus-warning {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: var(--vermilion);
    font-weight: bolder;
    font-size: 1.5rem;
}

.typing-field__input-wrapper {
    overflow: hidden;
    position: relative;
    display: block;
}

.typing-field__input,
.typing-field__input--blurred {
    width: 100%;
    height: 12rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY();
}

.typing-field__input--blurred {
    filter: blur(4px);
    max-height: 60%;
}

.input__input {
    position: absolute;
    /* should be 0 */
    opacity: 0;
}

.input__word {
    display: flex;
    padding: 0 0.5rem;
}

.word__character,
.word__character--incorrect,
.word__character--correct,
.word__character--extra,
.word__character--deleted {
    padding: 0.2rem;
    opacity: 0.7;
    position: relative;
}

.word__character--incorrect {
    color: var(--mandarin);
    font-weight: bolder;
}

.word__character--correct {
    opacity: 1;
    font-weight: bolder;
}

.word__character--extra {
    color: var(--vermilion);
    opacity: 0.5;
}

.word__character--deleted {
    display: none;
}
.word__position-marker,
.word__position-marker--right {
    position: absolute;
    background-color: var(--mandarin);
    height: 1.5rem;
    width: 2px;
    animation: blink 1.5s linear infinite;
}

.word__position-marker--right {
    right: 0;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
