.typing-field {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.typing-field__focus-warning {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: var(--vermilion);
    font-weight: bolder;
    font-size: 1.5rem;
}

.typing-field__input,
.typing-field__input--blurred {
    width: 100%;
    /* height: 80%; */
    height: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    overflow-y: hidden;
}

.typing-field__input--blurred {
    filter: blur(4px);
}

.input__input {
    position: absolute;
    /* should be 0 */
    opacity: 0;
}

.input__word {
    display: flex;
}

.word__character,
.word__character--incorrect,
.word__character--correct {
    padding: 0.2rem;
    opacity: 0.7;
}

.word__character--incorrect {
    color: var(--mandarin);
    font-weight: bolder;
}

.word__character--correct {
    opacity: 1;
    font-weight: bolder;
}

.word__position-marker {
    position: absolute;
    background-color: var(--mandarin);
    height: 1.5rem;
    width: 2px;
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
