* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
:root {
    --rich-black: #042a2bff;
    --maximum-blue: #5eb1bfff;
    --light-cyan: #cdedf6ff;
    --mandarin: #ef7b45ff;
    --vermilion: #d84727ff;
}
