* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
:root {
    /* Lorem typum colors */
    --text-primary: #042a2bff;

    --incorrect: #ef7b45ff;
    --error: #d84727ff;
    /* Bacon Typum colors */
}

[data-theme="lorem"] {
    --header: #5eb1bfff;
    --background: #cdedf6ff;
}
[data-theme="bacon"] {
    --header: #f08080ff;
    --congo-pink: #f4978eff;
    --melon: #f8ad9dff;
    --apricot: #fbc4abff;
    --background: #ffdab9ff;
}
[data-theme="hipster"] {
    --header: #75a48b;

    --background: #d9cfb0;
}
